body {
    display:flex;
    justify-content: center;
    background-color: lightblue;
}

button  {
    width: 50%;
    img {
        
        width: 20%;
    }
}

.box {
    width: 75%;
    background-color: whitesmoke;
    border: solid;
    border-radius: 15px;
    border-width: 2px;

    padding: 20%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin: 3%;
}

.number {
    width: 50px;
}

.motivationsschreiben {
    width: 100%;
    height: 250px;
    max-width: 100%;
    min-width: 100%;
}

  input:focus {
    background-color: lightgrey;
    color: black;
  }